:root {
    --primary-color: #dc143c;
    --background-color: rgba(23, 23, 23, 0.95);
    --text-color: #ffffff;
    --disabled-color: rgba(102, 102, 102, 0.9);
    --transition-duration: 0.3s;
    --border-radius: 8px;
    --menu-width: 350px;
  }
  